@charset "utf-8";

a{
    text-decoration: none;
}

body{
    margin: 0;
    width:100wv;
    height:100hv;
    background-color: #acd0c0;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        "header"
        "bild"
        "main"
        "box"
        "footer";    
}
body header {
    grid-area: header;
    display: flex;
    height: 100px;
    background-color: #4f6457;
    justify-content:flex-start;
    box-shadow: 5px 5px 5px #888888;
    
}

.header-left{
    flex:1;
}

.logo{
    height: 100px;
    width: 100px;
    background-color: white;
    background-image: url(../images/logo.png);
    background-size: cover;
}
header nav{
    display: flex;
    flex:4;
    flex-flow: column nowrap;
    align-items: flex-end;
    background-color: ;
}

header input{
    margin-top: 0;
    height: 20px;
    width: 50%;
    height: 25px;
    align-self: center;
    border: 2px solid #d9b44a;
    border-radius: 50px;
    background-color: #4f6457;
    outline: none;
    padding-left: 10px;
    color: white;
    font-family:  'Montserrat', sans-serif;
}

input::placeholder {
    color: #d9b44a;
}

header nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 100%;
}
nav ul a{
    text-decoration: none;
    color:white;
    font-family: 'Montserrat', sans-serif;
}
nav ul a:hover{
    color:#d9b44a;
}
nav ul li{
    margin-left: 30px;
}

.bild-wrapper{
    grid-area: bild;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-image: url(../images/1.jpg);
    background-size: cover;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    filter: grayscale(100);
    transition: all .7s;
}
.bild-wrapper:hover{
    filter: grayscale(0);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.hidden{
    width: 30%;
    height: 80%;
    display: flex;
    align-items: flex-start;
    flex-flow: column nowrap;
    justify-content: flex-end;
    opacity: 0;
    transition: width .7s;
}
.hidden:hover{
    width: 95%;
    opacity: .8;
    border-top: 1px solid black;
    border-bottom: 30px solid black;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.hidden h2, .hidden h3{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 1px;
    margin-left: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;

}
.hidden h2{
    background-color: black;
}
.hidden h3{
    background-color: red;
}

/*-------------------------*/
/*------- MAIN ----------*/
/*-------------------------*/



.wrapper{
    grid-area: main;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.wrapper .citat{
    display: flex;
    min-height: 360px;
    align-items: center;
    flex-flow: column nowrap;
    padding-top: 20px;
}
.citat h1{
    color:#4f6457;
    text-shadow: 2px 2px 3px #d9b44a;
    font-size: 50px;
    border-bottom: 1px solid black;
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;

}
.citat h3{
    color:#4f6457;
    text-shadow: 2px 2px 3px #d9b44a;
    font-family: 'Montserrat', sans-serif;
}

.wrapper .citat p{
    width: 70%;
    align-self: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

}
.main-center{
    background-color:#d5d5d5;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.3);
    min-height: 600px;
    display: grid;
    margin-bottom: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px auto;
    grid-template-areas: 
        "rubrik bild"
        "text bild";
}

.main-center h1{
    grid-area: rubrik;
    margin-left: 40px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 3px white;


}

.main-center p{
    grid-area: text;
    max-width: 500px;
    margin: 30px;
    text-align: justify;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.main-center .design-bild{
    grid-area: bild;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.design-bild img{
    width: 80%;
    height: 80%;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.3);

}

/*-------------------------*/
/*------- BOXES ----------*/
/*-------------------------*/


.box-wrapper{
    display: flex;
    height: 500px;
    justify-content: space-around;
    margin-top: 50px;
}

.box-wrapper .box{
    width:70%;
    height: 70%;
    justify-content: center;
    display: flex;
}
.box-wrapper a:hover{
        box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.3);

}


.box-wrapper .box1{
    flex: .2;
    border: 1px solid black;
    border-radius: 8px;
    
}

.box-wrapper .box2{
    flex: .2;
    border: 1px solid black;
    border-radius: 8px;

}
.box-wrapper .box3{
    flex: .2;
    border: 1px solid black;
    border-radius: 8px;
}


/*-------------------------*/
/*------- FOOTER ----------*/
/*-------------------------*/


body footer{
    grid-area: footer;
    min-height: 600px;
    background-color: #4f6457;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.3);

}

body footer .top-footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-footer ul{
    display: flex;
    width: 30%;
    list-style-type: none;  
    justify-content: space-around;
}
.social-icon{
    color:white;
    text-decoration: none;
    font-size: 30px;
}
.top-footer ul li a:hover{
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.3);
}
.fa-facebook{
    padding:10px 15px;
}
.fa-facebook:hover{
    background-color: #3d5b99;
}
.fa-twitter{
    padding:10px 10px;
}
.fa-twitter:hover{
    background-color: #00aced;
}
.fa-youtube{
        padding:10px 12px;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-google-plus{
    padding:10px 7px;
}
.fa-google-plus:hover {
    background-color: #dd4b39;    
}
.fa-snapchat-ghost{
        padding:10px 10px;
}
.fa-snapchat-ghost:hover{
    background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

footer .eye{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.left-eye{
    height: 50px;
    width: 50px;
    background-color: #d9b44a;
    border-radius: 50%;
    margin-right: 20px;
}
.right-eye{
    height: 10px;
    width: 50px;
    background-color: #d9b44a ;
    margin-top: 30px;
    margin-left: 20px;
}


.smile{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.smile .bottom{
    display: flex;
    justify-content: center;
    width: 22%;
    height: 70%;
    background: #d9b44a;
    border-bottom-left-radius: 300px;
    border-bottom-right-radius: 300px;    
}
.smile .bottom .top{
    width: 65%;
    height: 60%;
    background: #4f6457;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px; 
}
footer .main-footer{
    width: 100%;
    height: 180px;
    margin-top: 20px;
    border-top: 1px solid white;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color: white;

}

.main-footer .links{
    flex: 1;
    padding: 20px;
}
.main-footer a{
    color: white;
}
.main-footer a:hover{
    color: #d9b44a;
}



.main-footer .e-mail{
    flex: 1;
    padding: 20px;
}
.main-footer .e-mail input{
    margin-top: 0;
    height: 20px;
    width: 80%;
    height: 25px;
    align-self: center;
    border: 2px solid #d9b44a;
    border-radius: 50px;
    background-color: #4f6457;
    outline: none;
    padding-left: 10px;
    color: white;
    font-family:  'Montserrat', sans-serif;
}
.main-footer .e-mail button{
    width: 70px;
    height: 25px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #4f6457;
    color: #d9b44a;
}


.main-footer .kontakt{
    flex: 1;
}
.main-footer .kontakt h3{
    border: 1px solid #d9b44a;
    margin: 0;
    display: inline-block;
    padding: 5px;
    color: #d9b44a;
}

.bottom-footer{
    width: 70%;
    height: 30px;
    margin-top: 20px;
    border-top: 1px solid white;
    margin-left: 15%;    
}

.bottom-footer h4{
    margin: 0;
    font-size: 11px;
    text-align: center;
    color: white;
    font-family:  'Montserrat', sans-serif;
    padding-top: 5px;
}

.testUL {
    list-style: none;
}

.testUL li {
    color: red;
}

.testUL li::before {
    content: "'' ";
}

.testUL li::after {
    content: " ''";
}

.ett:hover .testUL {
   background: red;
}

.ett:hover ~ .tvo {
    color: green;
}







