@charset "utf-8";


a{
    text-decoration: none;
}

body{
    margin: 0;
    width:100wv;
    height:100hv;
    background-color: #acd0c0;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        "header"
        "bild"
        "main"
        "footer";    
}

body header {
    grid-area: header;
    display: flex;
    height: 100px;
    background-color: #4f6457;
    justify-content:flex-start;
    box-shadow: 5px 5px 5px #888888;
    
}

.header-left{
    flex:1;
}

.logo{
    height: 100px;
    width: 100px;
    background-color: white;
    background-image: url(../images/logo.png);
    background-size: cover;
}
header nav{
    display: flex;
    flex:4;
    flex-flow: column nowrap;
    align-items: flex-end;
    background-color: ;
}

header input{
    margin-top: 0;
    height: 20px;
    width: 50%;
    height: 25px;
    align-self: center;
    border: 2px solid #d9b44a;
    border-radius: 50px;
    background-color: #4f6457;
    outline: none;
    padding-left: 10px;
    color: white;
    font-family:  'Montserrat', sans-serif;
}

input::placeholder {
    color: #d9b44a;
}

header nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 100%;
}
nav ul a{
    text-decoration: none;
    color:white;
    font-family: 'Montserrat', sans-serif;
}
nav ul a:hover{
    color:#d9b44a;
}
nav ul li{
    margin-left: 30px;
}


/****************************/
/*      3D Header bild      */
/****************************/
.bild-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-image: url(../images/2.jpg);
    background-size: cover;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    filter: grayscale(100);
    transition: all .7s;
}
.bild-wrapper:hover{
    filter: grayscale(0);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.hidden{
    width: 30%;
    height: 80%;
    display: flex;
    align-items: flex-start;
    flex-flow: column nowrap;
    justify-content: flex-end;
    opacity: 0;
    transition: width .7s;
}
.hidden:hover{
    width: 95%;
    opacity: .8;
    border-top: 1px solid black;
    border-bottom: 30px solid black;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.hidden h2, .hidden h3{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 1px;
    margin-left: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;

}
.hidden h2{
    background-color: black;
}
.hidden h3{
    background-color: red;
}


